body {
    font-family: Arial, sans-serif;
    padding: 50px;
    margin: 0;
    background: linear-gradient(to right, #83aceb, #b6fbff);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b723e;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .checkbox-wrapper .terms-label .label-text {
    margin-left: 10px;
  }
  
  .checkbox-wrapper .checkbox-svg {
    width: 30px;
    height: 30px;
  }
  
  .checkbox-wrapper .checkbox-box {
    fill: rgba(156, 154, 154, 0.377);
    stroke: #0026ff;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper .checkbox-tick {
    stroke: #00a2ff;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
    .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
  }
  